{% for post in site.categories[page.category] %}
<div class="project-card">

  <a href="{{ post.url | absolute_url }}" onclick="ga('send', 'event', 'clicks', 'project click', '{{ post.title }}');">
    <div id="card-image">
      <img src="{{ post.thumbnail_link }}">
    </div>

    <h1 id="card-title">{{ post.title }}</h1>

    <div id="card-content">
      <strong>Date:</strong> {{ post.date | date: "%B %-d, %Y" }}
      <br>
      <strong>Technologies:</strong> {{ post.technologies }}
      <br>
      <strong>Description:</strong> {{ post.short_description }}
    </div>
  </a>
</div>
{% endfor %}