<h2>Github Activity</h2>
<!-- TODO: Make this dynamic -->
<ul>
    <a href="https://github.com/LeeCombs/Porfolio/commit/6572c92d3b3a47fa319d86146eb1905f052d13ba">
        <li>
            <strong>Portfolio:</strong>
            Posts partial, home layout update, github link for projects, styling
            <span class="github-date">{{ "2018-11-01T02:14:24Z" | date_to_long_string }}</span>
        </li>
    </a>
    <a href="https://github.com/LeeCombs/FF2_Monster_Sim/commit/cf5777efb6f92546bf34b70a42969f6a99bd0d53">
        <li>
            <strong>FF2_Monster_Sim:</strong>
            Database Hookup Start...
            <span class="github-date">{{ "2018-10-25T21:14:24Z" | date_to_long_string }}</span>
        </li>
    </a>
    <a href="https://github.com/LeeCombs/FF2_Monster_Sim/commit/b40dcdee38562d54061c86c8f89e54cc0794f8fa">
        <li>
            <strong>FF2_Monster_Sim:</strong>
            Scene Two Bug Fix, New Teams, Small Enemy Love...
            <span class="github-date">{{ "2018-10-19T20:50:22Z" | date_to_long_string }}</span>
        </li>
    </a>
</ul>
