<h2>Github</h2>
<!-- TODO: Make this dynamic -->
<ul>
  <a href="https://github.com/LeeCombs/Portfolio/commit/30f8a57f723dda0366d7ab3f153028b8d8fea2f5" target="_blank">
    <li>
      <strong>Portfolio:</strong>
      More Home Writeup, Styling, Parallax
      <span class="github-date">{{ "2019-05-20T21:14:24Z" | date_to_long_string }}</span>
    </li>
  </a>
  <a href="https://github.com/LeeCombs/IdleGalaga/commit/fe309cf01df97a901c3a80eaee3e323f6466d707" target="_blank">
    <li>
      <strong>Idle Galaga:</strong>
      Posts partial, home layout update, github link for projects, styling
      <span class="github-date">{{ "2019-04-03T02:14:24Z" | date_to_long_string }}</span>
    </li>
  </a>
  <a href="https://github.com/LeeCombs/FF2_Monster_Sim/commit/b40dcdee38562d54061c86c8f89e54cc0794f8fa" target="_blank">
    <li>
      <strong>FF2_Monster_Sim:</strong>
      Scene Two Bug Fix, New Teams, Small Enemy Love...
        <span class="github-date">{{ "2018-10-19T20:50:22Z" | date_to_long_string }}</span>
    </li>
  </a>
</ul>
