<div class="col profile" id="profile-info" style="width: 100%">
  <!-- View for information about me: pretty face, name, nav and social links -->
  <!-- Collapsable -->

  <div class="row profile-image">
    <img src="/assets/profile_image.png">
  </div>

  <div class="row">
    <h1 id="profile-name">I'm Lee Combs</h1>
  </div>

  <hr class="page-break long">

  <div class="row">
    <p id="profile-intro">And I'm an Amateur Coder</p>
  </div>

  <hr class="page-break short">

  <!-- Nav Links -->
  <div class="row">
    <ul class="nav-list">
      <a class="nav-item nav-button" href="http://leecombs.com/about">
        <li>About</li>
      </a>
      <a class="nav-item nav-button" href="http://leecombs.com/category/projects">
        <li>Projects</li>
      </a>
      <a class="nav-item nav-button" href="http://leecombs.com/resume">
        <li>Resume</li>
      </a>
    </ul>
  </div>

  <!-- Social Links -->
  <div class="row">
    <ul class="nav-list">
      <li class="nav-item nav-social">
        <a href="https://github.com/LeeCombs" title="Github" target="_blank">
          <img id="github-icon" class="social-icon" src="/assets/github_icon.png">
        </a>
      </li>
      <li class="nav-item nav-social">
        <a href="https://www.linkedin.com/in/lee-combs-41a362141/" title="LinkedIn" target="_blank">
          <img id="linkedin-icon" class="social-icon" src="/assets/linkedin_icon.png">
        </a>
      </li>
      <li class="nav-item nav-social">
        <a href="https://codepen.io/LeeCombs/" title="CodePen"target="_blank">
          <img id="codepen-icon" class="social-icon" src="/assets/codepen_icon.png">
        </a>
      </li>
    </ul>
  </div>
</div>