:root {
  --bg1-color: forestgreen;
  --bg1-image: url(/assets/green_squares.png);
  
  --bg2-color: darkslategray;
  --bg2-image: url(/assets/dark_green_squares.png);
  
  --hyper-link-color: lightskyblue;
}

body {
  background-color: var(--bg1-color);
  background-image: var(--bg1-image);
}

.wrapper {
  max-width: 850px;
}

.page-content {
  .wrapper {
    background-color: var(--bg2-color);
    background-image: var(--bg2-image);
    border: solid;
    border-color: white;
    border-width: 1px;
    padding: 0;
  }
  
  .sub-header {
    text-align: center;
    color: white;
    font-size: 28px;
    width: 100%;

    h1 {
      margin-bottom: 0px;
    }
  }
  
  .intro-blurb {
    border-bottom: solid;
    border-width: 1px;
    padding: 5px;
  }
  
  .profile-content {
    background-color: white;
    padding: 0 5px;
  }
}

a {
  color: var(--hyper-link-color);
}

a:visited {
  color: var(--hyper-link-color);
}

a:hover {
  text-decoration: none;
}

/**
 * Site Header
 */
.site-header {
  background-color: var(--bg2-color);
  background-image: var(--bg2-image);
  border-top: 0px;

  .site-title {
    color: white;
    font-weight: 400;
  }
  
  .site-nav {
    .menu-icon {
      color: white;
    }
  }
  
  .page-link {
    color: white;
  }
}

/**
 * Site Footer
 */
.site-footer {
  background-color: var(--bg2-color);
  background-image: var(--bg2-image);
  padding: 10px 0;
  
  .footer-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .footer-col-wrapper {
    color: white;
  }
  
  .social-media-list {
    a {
      .username {
        color: var(--hyper-link-color);
      }
    }
  }
}

/**
 * About Page
 */
.profile-image {
  max-width: 250px;
  float: left;
  box-shadow: 3px 3px 3px grey;
  margin: 10px;
}

/**
 * Misc
 */
.dated-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  span {
    color: gray;
  }
}
