.intro-header {
  color: white;
  padding-left: 15px;
  
  p {
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 5px;
  }
  
  .greeting {
    justify-content: flex-start;
  }
}

#intro-header {
  padding: 30px 0;
  background-image: url("https://i.imgur.com/he6iPen.jpg");
  
  p {
    margin-bottom: 5px;
  }
}

.header-social {
  align-self: flex-start;
  align-items: flex-start;
  
  p {
    margin-bottom: 5px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.line-break {
  border-bottom: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-break-black {
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}


.recent-activity {
  padding-top: 10px;
  padding-bottom: 10px;
  
  .activity-content {
    padding-left: 10px;
  }
  
  h2 {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .github-activity {
    ul {
      list-style: none;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      color: black;

      li {
        padding: 5px;
        color: black;
      }

      li:hover {
        background-color: lightgreen;
      }
    }

    a:link {
      text-decoration: none;
      color: black;
    }

    .github-date {
      color: white;
      float: right;
    }
  }
}
