<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="wrapper about-page">
        {%- include header.html -%}
        <main class="page-content" aria-label="Content">
          <div class="wrapper">
            <img src="/assets/profile_image.png" class="profile-image">
            <div class="profile-content">
              <!-- -->
            </div>
            {{ content }}
          </div>
        </main>
        {%- include footer.html -%}
    </div>
  </body>
</html>
