<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <!-- Header -->
        <div class="row imaged-backdrop">
          <div class="content">
            <div class="row sub-header">
              <h1>{{ page.title }}</h1>
            </div>

            {%- if page.intro -%}
            <div class="row page-intro">
              {{ page.intro }}
            </div>
            {%- endif -%}
          </div>
        </div>
        
        <!-- Content -->
        <div class="row">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
